// fonts start
@font-face {
    font-family: "LatoReg";
    src: url("../fonts/Lato-Regular.ttf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "LatoBold";
    src: url(../fonts/Lato-Bold.ttf);
}

@font-face {
    font-family: "RalewayBold";
    src: url(../fonts/Raleway-Bold.ttf);
}

// fonts end

// variables start
$lightblue: #3E9CDC;
$grey: #3D4050;
$darkgrey: #272733;
$index: calc(1vw + 1vh);
// variables end

// reset start
*,
html,
body,
div,
section {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "LatoReg", Arial, sans-serif;
    font-size: calc($index * .8);
}

a {
    text-decoration: none;
    color: inherit;
    transition: .3s;
}

button {
    font-size: 0.7em;
    background: #fff;
    color: #2A2B30;
    border: 1px solid #6F6D7B;
    padding: calc($index * .6) 0;
    border-radius: 3px;
    cursor: pointer;
    transition: .3s;
}

button:hover {
    background: $lightblue;
    color: #fff;
    border: 1px solid #fff;
}

li {
    list-style-type: "- ";
    list-style-position: inside;
}

// reset end

// default start 
.container {
    width: 85vw;
    margin: 0 auto;
}

.blue-text {
    color: $lightblue;
    font-size: inherit;
}

.d-flex {
    display: flex;
}

.jc-space-between {
    justify-content: space-between;
}

.jc-center {
    justify-content: center;
}

.ai-center {
    align-items: center;
}

.fd-column {
    flex-direction: column;
}

// default end

// header start
#header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 1.5em;
    background: rgba($color: #10101D, $alpha: 0.9);
    color: #fff;

    .header-logo {
        text-transform: uppercase;
        font-size: 1.4em;
    }

    .header-nav {

        &__item {
            font-size: 0.7em;
            text-transform: uppercase;
        }

        &__item:hover {
            color: $lightblue;
        }

        &__item:not(:first-child) {
            margin-left: 60px;
        }
    }
}

// header end

// main screen start
#main-screen {
    height: 100vh;
    background-image: url(../img/main-screen.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;

    .main-text-block {
        width: 70%;
        margin-bottom: 2.5em;

        &__title {
            font-size: 2.4em;
            text-transform: uppercase;
        }

        &__description {
            font-weight: 700;
            margin-top: 2.5em;
            margin-bottom: .5em;
        }

        &__list li:not(:first-child) {
            margin-top: 0.5em;
        }
    }

    .main-buttons-block {
        button {
            width: 15%;
            text-transform: uppercase;

            &:first-child {
                margin-right: $index;
            }
        }
    }
}

// main screen end

// order screen start
#order-screen {
    height: 100vh;
    background-color: $darkgrey;
    background-image: url(../img/order-screen.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 2.5em;

    .order-text-block {
        text-align: center;
        margin-bottom: 3em;

        &__title {
            text-transform: uppercase;
            color: #fff;
            font-size: 2em;
            margin-bottom: 1em;
        }

        &__description {
            color: #bbb;
        }
    }

    .order-features-block {
        margin-bottom: 2em;

        .order-features-icons {
            margin-bottom: 1em;
            padding: 0 4em;

            .dot {
                width: .4em;
                height: .4em;
                background: #c4c4c4;
                border-radius: 50%;
            }

            &__item {
                width: 4.5em;
                height: 4.5em;
                background: $lightblue;
                border: .2em solid #286690;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        .order-features-descripion {
            align-items: start;

            p {
                width: 19%;
                text-align: center;
                color: #fff;
            }
        }
    }

    .order-form {

        form {
            width: 100%;
            flex-wrap: wrap;

            .order-form-select {
                position: relative;
                width: 32%;

                &[data-state="active"] {
                    .order-form-select__title {
                        &::before {
                            transform: translate(-3px, -50%) rotate(-45deg);
                            background: #fff;
                        }

                        &::after {
                            transform: translate(3px, -50%) rotate(45deg);
                            background: #fff;
                        }
                    }

                    .order-form-select__title {
                        background: rgba(61, 64, 80, 0.85);
                        color: #fff;
                    }

                    .order-form-select__content {
                        opacity: 1;
                    }

                    .order-form-select__label+.order-form-select__input+.order-form-select__label {
                        max-height: 40px;
                        border-top-width: 1px;
                    }
                }

                &__title {
                    display: flex;
                    align-items: center;
                    background: rgb(255, 255, 255);
                    width: 100%;
                    height: fit-content;
                    padding: .7em 1em;
                    border-radius: 3px;
                    cursor: pointer;

                    &::before,
                    &::after {
                        content: "";
                        position: absolute;
                        top: 40%;
                        right: 16px;
                        display: block;
                        width: 10px;
                        height: 2px;
                        transition: all 0.3s ease-out;
                        background-color: #333333;
                        transform: translate(-3px, -50%) rotate(45deg);
                    }

                    &::after {
                        transform: translate(3px, -50%) rotate(-45deg);
                    }

                    &:hover {
                        border-color: rgba(61, 64, 80, 0.85);

                        &::before,
                        &::after {
                            background-color: rgba(61, 64, 80, 0.85);
                        }
                    }
                }

                &__content {
                    position: absolute;
                    top: 2.4em;
                    width: 100%;
                    height: 10em;
                    overflow-y: auto;
                    color: #fff;
                    background-color: #3d4050;
                    border: 2px solid rgba(61, 64, 80, 0.85);
                    border-top: none;
                    border-radius: 0 0 3px 3px;
                    transition: all 0.3s ease-out;
                    opacity: 0;
                    z-index: 8;

                    &::-webkit-scrollbar {
                        width: 0.5em;

                        &-track {
                            background: none;
                        }

                        &-thumb {
                            background: $lightblue;
                            border-radius: 10px;
                        }
                    }
                }

                &__input {
                    display: none;

                    &:disabled+label {
                        opacity: 0.6;
                        pointer-events: none;
                    }
                }

                &__label {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    height: 40px;
                    max-height: 0;
                    padding: 0 16px;
                    transition: all 0.2s ease-out;
                    cursor: pointer;
                    overflow: hidden;

                    &+input+& {
                        border-top: 0 solid #C7CCD160;
                    }

                    &:hover {
                        color: $lightblue;
                    }
                }
            }

            input {
                width: 32%;
                padding: .7em 1em;
                border: none;
                border-radius: 3px;
                background: rgb(255, 255, 255);
                outline: none;
                margin-bottom: 1em;
            }

            .order-form-range-block {
                flex-wrap: wrap;
                width: 66%;
                color: #fff;

                & p {
                    margin-bottom: 0.7em;
                }

                &__input {
                    width: 100%;
                    padding: 0 !important;
                    margin: 0;
                }
            }

            .order-form__file-input {
                display: none;

                &--label {
                    width: 32%;
                    background: #fff;
                    border: 2px solid$lightblue;
                    border-radius: 3px;
                    cursor: pointer;
                    text-transform: uppercase;

                    & img {
                        margin-right: .5em;
                    }
                }
            }

            .order-form__submit {
                display: inline-block;
                margin: 1em auto 0 auto;
                cursor: pointer;
                transition: .3s ease;

                &:hover {
                    background: $lightblue;
                    color: #fff;
                }
            }
        }

    }
}

// order screen end

// footer start
#footer {
    padding: 2em 0;
    background: $grey;
    color: #fff;
    font-size: 0.5em;

    img {
        margin-right: 5px;
    }

    .footer_copyright-text {
        letter-spacing: -1px;
        padding-right: 5px;
        border-right: 1px solid #fff;
        width: 33%;
    }

    .footer-payment-info {
        padding-right: 1em;
        border-right: 1px solid #fff;

        p {
            &+p {
                margin-left: 1em;
            }
        }
    }

    .footer-contacts {
        & a+a {
            margin-left: 1em;
        }
    }
}


// footer end