// fonts start
@font-face {
    font-family: "LatoReg";
    src: url("../fonts/Lato-Regular.ttf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "LatoBold";
    src: url(../fonts/Lato-Bold.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "RalewayBold";
    src: url(../fonts/Raleway-Bold.ttf);
    font-style: normal;
    font-weight: normal;
}

// fonts end

// variables start
$lightblue: #3E9CDC;
$grey: #3D4050;
$darkgrey: #272733;
$index: calc(1vw + 1vh);
// variables end

// reset start
*,
html,
body,
div,
section {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "LatoReg", Arial, sans-serif;
    font-size: calc($index * .8);
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: inherit;
    transition: .3s;
}

button,
.button {
    font-size: 0.7em;
    background: #fff;
    color: #2A2B30;
    border: 1px solid #6F6D7B;
    padding: calc($index * .6) 0;
    border-radius: 3px;
    cursor: pointer;
    transition: .5s ease;

    &:hover {
        color: #fff;
        border: 1px solid #fff;
        box-shadow: inset 50em 0 0 0 $lightblue;
    }
}

li {
    list-style-type: "- ";
    list-style-position: inside;
}

// reset end

// default start 
.container {
    width: 85vw;
    margin: 0 auto;
}

.blue-text {
    color: $lightblue;
    font-size: inherit;
}

.d-flex {
    display: flex;
}

.jc-space-between {
    justify-content: space-between;
}

.jc-center {
    justify-content: center;
}

.ai-center {
    align-items: center;
}

.fd-column {
    flex-direction: column;
}

.logo {
    position: relative;
    text-transform: uppercase;
    font-size: 1.4em;

    &::before {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        height: 0.15em;
        width: 0;
        background: $lightblue;
        transition: .3s ease;
    }

    &:hover::before {
        width: 100%;
        left: 0;
    }
}

.show {
    transition: .8s ease;
    opacity: 1 !important;
    transform: translate(0, 0) !important;
}

.hidden {
    opacity: 0;
    transform: translate(0, -2em);
}

// default end

// burger menu start
.burger-menu,
.burger-menu__btn,
.overlay {
    position: fixed;
}

.burger-menu {
    width: 40%;
    height: 100vh;
    top: 0;
    left: -100%;
    padding: 3em;
    padding-top: 8em;
    flex-direction: column;
    align-items: flex-end;
    color: #fff;
    background: $darkgrey;
    z-index: 7;
    transition: .3s ease;
    display: none;

    &--show {
        left: 0;
    }

    &-logo {
        font-size: 1.7m;
        margin-bottom: 3em;
    }

    &-nav {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        &__item {
            font-size: 2em;
            margin-bottom: 2em;
            transition: .3s ease;

            &:hover {
                color: $lightblue;
            }
        }
    }
}

.burger-menu__btn {
    top: 1.5em;
    left: 1.5em;
    width: 5em;
    height: 5em;
    border-radius: 50%;
    background: rgba(16, 16, 29, 0.9);
    transition: .3s ease;
    cursor: pointer;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;

    &-line {
        width: 70%;
        height: 3px;
        background: $lightblue;
        border-radius: 4px;
        position: relative;
        transition: .3s ease;
        opacity: 1;

        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 3px;
            background: $lightblue;
            border-radius: 4px;
            top: -200%;
            transition: .3s ease;
        }

        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 3px;
            background: $lightblue;
            border-radius: 4px;
            top: 200%;
            transition: .3s ease;
        }
    }

    &--active {
        background: transparent;

        .burger-menu__btn-line {
            background: transparent;

            &::before {
                top: 0;
                transform: rotate(45deg) !important;
            }

            &::after {
                top: 0;
                transform: rotate(-45deg) !important;
            }
        }
    }
}

.overlay {
    height: 100vh;
    width: 100%;
    background: rgba(16, 16, 29, 0.6);
    display: none;
    z-index: 5;
    opacity: 0;
    transition: .3s ease;

    &--block {
        display: block;
    }

    &--show {
        opacity: 1;
    }
}


// burger menu end

// header start
#header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 1.5em 0;
    background: rgba(16, 16, 29, 0.9);
    color: #fff;
    z-index: 10;
    transition: .3s ease;

    .header-nav {

        &__item {
            font-size: 0.7em;
            text-transform: uppercase;
        }

        &__item:hover {
            color: $lightblue;
        }

        &__item:not(:first-child) {
            margin-left: 60px;
        }
    }
}

// header end

// main screen start
#main-screen {
    height: 100vh;
    background-image: url(../img/main-screen.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
    align-items: center;

    .main-text-block {
        width: 70%;
        margin-bottom: 2.5em;

        &__title {
            font-size: 2.4em;
            text-transform: uppercase;
            transform: translate(25px, 0);
            opacity: 0;
        }

        &__description {
            font-weight: 700;
            margin-top: 2.5em;
            margin-bottom: .5em;
            transform: translate(50px, 0);
            opacity: 0;
        }

        &__list {
            transform: translate(50px, 0);
            opacity: 0;

            li:not(:first-child) {
                margin-top: 0.5em;

            }
        }
    }

    .main-buttons-block {
        transform: translate(75px, 0);
        opacity: 0;

        button {
            width: 15%;
            text-transform: uppercase;

            &:first-child {
                margin-right: $index;
            }
        }
    }
}

// main screen end

// order screen start
#order-screen {
    min-height: 100vh;
    background-color: $darkgrey;
    background-image: url(../img/order-screen.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 2.5em 0;

    .order-text-block {
        text-align: center;
        margin-bottom: 3em;

        &__title {
            text-transform: uppercase;
            color: #fff;
            font-size: 2em;
            margin-bottom: 1em;
        }

        &__description {
            color: #bbb;
        }
    }

    .order-features-block {
        margin-bottom: 2em;

        .order-features-icons {
            margin-bottom: 1em;
            padding: 0 4em;

            .dot {
                width: .4em;
                height: .4em;
                background: #c4c4c4;
                border-radius: 50%;
            }

            &__item {
                width: 4.5em;
                height: 4.5em;
                background: $lightblue;
                border: .2em solid #286690;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    width: 3.2em;
                    height: auto;
                }
            }
        }

        .order-features-descripion {
            align-items: start;

            p {
                width: 19%;
                text-align: center;
                color: #fff;
            }
        }
    }

    .order-form {

        form {
            width: 100%;
            flex-wrap: wrap;

            .order-form-select {
                position: relative;
                width: 32%;
                font-size: 1em;

                &[data-state="active"] {
                    .order-form-select__title {
                        &::before {
                            transform: translate(-3px, -50%) rotate(-45deg);
                            background: #fff;
                        }

                        &::after {
                            transform: translate(3px, -50%) rotate(45deg);
                            background: #fff;
                        }
                    }

                    .order-form-select__title {
                        background: rgba(61, 64, 80, 0.85);
                        color: #fff;
                    }

                    .order-form-select__content {
                        opacity: 1;
                    }

                    .order-form-select__label+.order-form-select__input+.order-form-select__label {
                        max-height: 40px;
                        border-top-width: 1px;
                    }
                }

                &__title {
                    display: flex;
                    align-items: center;
                    background: rgb(255, 255, 255);
                    width: 100%;
                    height: fit-content;
                    font-size: 1em;
                    padding: .7em 1em;
                    border-radius: 3px;
                    cursor: pointer;

                    &::before,
                    &::after {
                        content: "";
                        position: absolute;
                        top: 40%;
                        right: 16px;
                        display: block;
                        width: 10px;
                        height: 2px;
                        transition: all 0.3s ease-out;
                        background-color: #333333;
                        transform: translate(-3px, -50%) rotate(45deg);
                    }

                    &::after {
                        transform: translate(3px, -50%) rotate(-45deg);
                    }

                    &:hover {
                        border-color: rgba(61, 64, 80, 0.85);

                        &::before,
                        &::after {
                            background-color: rgba(61, 64, 80, 0.85);
                        }
                    }
                }

                &__content {
                    position: absolute;
                    top: 70%;
                    width: 100%;
                    height: 10em;
                    overflow-y: auto;
                    color: #fff;
                    background-color: #3d4050;
                    border: 2px solid rgba(61, 64, 80, 0.85);
                    border-top: none;
                    border-radius: 0 0 3px 3px;
                    transition: all 0.3s ease-out;
                    opacity: 0;
                    z-index: 8;

                    &::-webkit-scrollbar {
                        width: 0.5em;

                        &-track {
                            background: none;
                        }

                        &-thumb {
                            background: $lightblue;
                            border-radius: 10px;
                        }
                    }
                }

                &__input {
                    display: none;

                    &:disabled+label {
                        opacity: 0.6;
                        pointer-events: none;
                    }
                }

                &__label {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    height: 40px;
                    max-height: 0;
                    padding: 0 16px;
                    transition: all 0.2s ease-out;
                    cursor: pointer;
                    overflow: hidden;

                    &+input+& {
                        border-top: 0 solid #C7CCD160;
                    }

                    &:hover {
                        color: $lightblue;
                    }
                }
            }

            input {
                width: 32%;
                padding: .7em 1em;
                border: none;
                border-radius: 3px;
                background: rgb(255, 255, 255);
                outline: none;
                margin-bottom: 1em;
            }

            .order-form-range-block {
                flex-wrap: wrap;
                width: 66%;
                color: #fff;

                & p {
                    margin-bottom: 0.7em;
                }

                &__input {
                    width: 100%;
                    padding: 0 !important;
                    margin: 0;
                }
            }

            .order-form__file-input {
                display: none;

                &--label {
                    width: 32%;
                    background: #fff;
                    border: 2px solid $lightblue;
                    border-radius: 3px;
                    cursor: pointer;
                    text-transform: uppercase;
                    font-size: 1em;
                    padding: .7em 1em;

                    & img {
                        margin-right: .5em;
                        height: 1.2em;
                        width: auto;
                    }
                }
            }

            .order-form__submit {
                display: inline-block;
                margin: 1em auto 0 auto;
                padding: .7em 1em;
                font-size: 1em;
            }
        }

    }
}

// order screen end

// footer start
#footer {
    padding: 2em 0;
    background: $grey;
    color: #fff;
    font-size: 0.5em;

    .container {

        .footer_copyright-text,
        div {
            width: 32%;

            &:not(:last-child) {
                padding-right: 1em;
                border-right: 1px solid #fff;
            }
        }

        p,
        a {
            font-size: 0.9em;
        }

        img {
            margin-right: 5px;
        }

        .footer-payment-info {

            p {
                &+p {
                    margin-left: 1em;
                }
            }
        }

        .footer-contacts {
            width: 32%;

            & a+a {
                margin-left: 1em;
            }
        }
    }
}

// footer end

// media start
@media screen and (max-width: 1100px) {
    .container {
        width: 100%;
        padding: 0 1.5em;
    }
}

@media screen and (max-width: 800px) {
    #header .header-nav__item:not(:first-child) {
        margin-left: 30px;
    }

    #order-screen {
        min-height: fit-content;
    }

    #footer {
        padding: 2em 0;

        .container {
            flex-direction: column-reverse;
            justify-content: center;

            p,
            div {
                border: none !important;
            }

            div {
                margin-bottom: 2em;
            }

            .footer_copyright-text {
                width: 50%;
                text-align: center;
            }

            .footer-payment-info {
                width: 50%;
                padding: 0 !important;

                p {
                    margin: 0;
                    padding: 0;
                }
            }

            .footer-contacts {
                width: 50%;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    * {
        font-size: calc($index * 1.5);
    }

    #header {
        display: none;
    }

    .burger-menu {
        display: flex;
    }

    .burger-menu__btn {
        display: flex;
    }

    #main-screen {
        .container {
            height: 90% !important;
            padding-top: 15vh;
            justify-content: space-between;
            align-items: flex-end;
        }

        .main-text-block {
            text-align: right;
            color: #fff;
            width: 80%;
            margin: 0;

            &__title {
                font-size: 3.5em;
                margin-bottom: 0.5em;
                word-wrap: break-word;
            }

            &__description {
                margin: 0;
            }

            &__list {
                display: none;
            }
        }

        .main-buttons-block {
            width: 100%;
            display: flex;
            justify-content: space-between;

            button {
                width: 45%;
                padding: .5em;
                font-size: 2em;
            }
        }
    }

    #order-screen {

        .order-features-block {
            display: flex;
            justify-content: center;
            width: 100%;

            .order-features-icons {
                flex-direction: column;
                padding: 0 !important;
                width: 25% !important;
                align-items: flex-end;

                &__item {
                    width: 9em !important;
                    height: 9em !important;
                    margin-bottom: 1.5em;
                }

                &:not(:first-child) {
                    margin-top: 3em;
                }

                .dot {
                    display: none;
                }
            }

            .order-features-descripion {
                flex-direction: column;
                justify-content: space-around;
                padding: 0;
                width: 50% !important;
                padding-left: 2em;

                p {
                    text-align: inherit;
                    width: 100% !important;
                }
            }

        }

        .order-form {
            form {
                flex-direction: column;
                flex-wrap: nowrap;

                .order-form-select,
                .order-form-range-block,
                input,
                .order-form__file-input--label {
                    width: 100%;
                    margin-top: 1em;
                    margin-bottom: 0;
                }

                .order-form-select__content {
                    height: 15em;
                    top: 100%;
                }
            }
        }

    }
}

@media screen and (max-width: 450px) {
    .burger-menu {
        width: 70%;
    }

    #footer {
        .footer_copyright-text {
            width: 100% !important;
        }

        .footer-payment-info {
            width: 100% !important;
        }

        .footer-contacts {
            width: 100% !important;
        }
    }
}

// media end